@media screen and (max-width: 600px){
    .option{
      height:85px;
      width: 85px;
    }
  }
  @media screen and (min-width: 600px){
    .option{
      height:300px;
      width: 300px;
    }
  } 
.next,.prev {
  position:absolute;
  top:30%;
  z-index: 1;
  cursor: pointer;
}
.next {
  right: 0;
}
.option{
    border:1px solid #502050;
}
#logo{
    max-width:100px;
    height:100px;
}
body{
    width:97%;
    background-color: rgba(214, 188, 214, 0.22);
}
.dif{
    width:80%;
}
.pink h1{
    color: black;
    font-family: "Mistral",cursive;
    text-shadow: 3px 3px #d05878, 5px 5px #d05878;
    font-size:30px;
}